{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
<div class="sharing">
  <a target="_blank" href="https://me.alipay.com/bowenhuang" title="小小赞助大大帮助"><img src="/images/t_pay_encourage.png" width="159" height="37" alt="支付鼓励" align="absmiddle" style="display:inline;border:none;box-shadow:none;"></a>
</div>

{% if author %}<span class="byline author vcard">Posted by <span class="fn">{{ author }}</span></span>{% endif %}


